.bash_history
.btpd
.cache
.config/pulse
.config/surf/cookies.txt
Documents
Downloads
.gitconfig
.gnupg
.ICEauthority
.local/build
.local/share/mc/history
.local/share/ranger/bookmarks
.local/share/ranger/history
.local/share/Trash
.local/share/webkitgtk
.local/share/xorg
.moc
Music
.newsboat/cache.db
Pictures
Public
.pki
.sc-iminfo
.ssh/authorized_keys
.ssh/id_rsa
.ssh/known_hosts
Videos
.vim
.viminfo
.wget-hsts
.Xauthority
.xinitrc
