.bash_history
.cache
.config/pulse
.config/surf/cookies.txt
Documents
.gitconfig
.gnupg
.ICEauthority
.local/build
.local/share/mc/history
.local/share/ranger/history
.local/share/Trash
.local/share/webkitgtk
.local/share/xorg
.moc/equalizer
.moc/last_directory
.moc/softmixer
Music
.newsboat/cache.db
Pictures
.pki
.ssh/authorized_keys
.ssh/id_rsa
.ssh/known_hosts
Videos
.vim
.viminfo
.wget-hsts
.Xauthority
.xinitrc
